1 possible modes: classic chess / 960 / other?
2 ability to solve puzzles leading to mate, by exploring every possible move (1st version)
Improv - introduce data structures (ex: diagonals) on possible moves to prune out when there is a piece on the way?

Future:
consider data on clock?
allow other pieces names (ex: distinct languages)

Alternative rules:
two or more kings --> small changes?
several players for same color --> test it! (ex: interactive player + automatic)
first phase before game: player chooses the positions of each piece